<html>
	<head>
		<title>Examples</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.4.7/css/foundation.min.css">
		<style>
			body { 
				margin: 0; 
				padding: 5px;
			}
			.viewer { 
				height: 400px;
			}			
			.info{
				position: absolute;						
				padding: 5px;
				color: white;
			}	
			.description{
			}
			.parameters{
				font-size: 80%;
				color: #DDD;
			}		
		</style>
	</head>
	<body>		
		<h1><%= component.name %></h1>
		
		Author: <%= component.author %>
		
		<h4>Examples</h4>
		
		<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
		<% examples.forEach(function(example,i){ %>	

			<li>
				<div>
				<div class="info">
					<div class="description"><%= example.description %></div>					
					<div class="parameters"><%= JSON.stringify(example.parameters) %></div>	
				</div>					
    			<div id="viewer<%= i %>"  class="pure-u-1-2 viewer"></div>    			
    			</div>
    		</li>

  		<% }) %>		
  		</ul>
  		
		<script src="../js/three.min.js"></script>
		<script src="../js/STLLoader.js"></script>
		<script src="../js/TrackballControls.js"></script>
		<script src="../lib/viewers/stlviewer.js"></script>

		<script>
			var examples = <%- JSON.stringify(examples) %>;

			var viewers = [];
			examples.forEach(function(example,i){
				var viewer = new Viewer(examples[i].stl, 'viewer' + i);
				viewers.push(viewer);
			});

			animate();
  			function animate(){
  				requestAnimationFrame(animate);
				viewers.forEach(function(viewer,i){
					viewer.render();
				});
  			}

		</script>
	</body>
</html>